{% extends 'base.html.twig' %}
{% block main %}
<section>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="table-responsive-xl">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Tytuł</th>
                            <th>Autor</th>
                            <th>Egz.</th>
                            <th>ISBN</th>
                            <th>Cena</th>
                            {% if is_granted('ROLE_ADMIN') %}
                            <th style="min-width: 470px">Akcja</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody
                        id="bookshelf-table-body"
                        {% if is_granted('ROLE_ADMIN') %}
                        data-admin="true"
                        {% endif %}
                        data-index="{{ path('bookshelf_index') }}" 
                        data-receive-path="{{ path('bookshelf_receive', { 'id': 0 }) }}"
                        data-release-path="{{ path('bookshelf_release', { 'id': 0 }) }}"
                        data-sell-path="{{ path('bookshelf_sell', { 'id': 0 }) }}"
                        data-edit-book-path="{{ path('book_edit', { 'id': 0 }) }}"
                        data-get-book-path="{{ path('book_one', { 'id': 0 }) }}"
                        data-delete-book-path="{{ path('book_delete', { 'id': 0 }) }}"
                        data-get-receivers-path="{{ path('receiver_index') }}"
                    >
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/authors.js') }}"></script>
    <script src="{{ asset('js/book.js') }}"></script>
    <script src="{{ asset('js/bookshelf.js') }}"></script>
    <script src="{{ asset('js/errors_handler.js') }}"></script>
{% endblock %}
