{% extends 'base.html.twig' %}
{% block main %}
<section>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="bookshelf-form-container">
                <form id="bookshelf-new-receiver" action="{{ path('receiver_new') }}">
                    <legend>Dodaj użytkownika</legend>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="bookshelf-new-receiver-surname">Nazwisko</label>
                                <input type="text" name="surname" id="bookshelf-new-receiver-surname" class="form-control" placeholder="Nazwisko">
                            </div>
                            <div class="col-md-6">
                                <label for="bookshelf-new-receiver-name">Imię</label>
                                <input type="text" name="name" id="bookshelf-new-receiver-name" class="form-control" placeholder="Imię">
                            </div>
                        </div>
                    </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <button type="submit" class="btn">Zapisz</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="table-responsive-sm">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Imię</th>
                                <th>Wydarzenia</th>
                                <th>Akcje</th>
                            </tr>
                        </thead>
                        <tbody
                            id="bookshelf-receivers-table-body"
                            data-path="{{ path('receiver_index') }}"
                            data-delete-receiver-path="{{ path('receiver_delete', { 'id': 0 }) }}"
                            data-get-receiver-path="{{ path('receiver_one', { 'id': 0 }) }}"
                            data-edit-receiver-path="{{ path('receiver_edit', { 'id': 0 }) }}"
                        >
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('js/receiver.js') }}"></script>
    <script src="{{ asset('js/bookshelf_elements.js') }}"></script>
    <script src="{{ asset('js/receivers_elements.js') }}"></script>
    <script src="{{ asset('js/receivers.js') }}"></script>
{% endblock %}
